.figure-center {
  text-align: center;
  margin: 1.5em auto;
}

.figure-center img {
  display: block;
  margin: 0 auto;
}

.figure-center figcaption {
  margin-top: 0.5em !important;
  font-size: 0.9em !important;
  color: #888 !important;
  font-weight: normal !important;
  font-style: normal !important;
}

